h1,
h2,
h3 {
  margin: 5px 0;
}
.side {
  background-color: midnightblue;
  color: white;
  min-width: 320px;
  padding: 2em;
  gap: 20px;
  box-sizing: border-box;
}

.side div > h2 {
  margin-top: 30px;
  border-bottom: 1px solid white;
}
#photo {
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
}
#photo > img {
  height: auto;
  width: 100%;
  position: relative;
  bottom: 25%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 30px;
  background-color: rgb(240, 240, 240);
  color: midnightblue;
  min-width: 320px;
  max-width: 600px;
  box-sizing: border-box;
}

#experience > h2 {
  border-bottom: 1px solid;
}
