.side {
  display: flex;
  flex-direction: column;
  background-color: midnightblue;
  color: white;
  min-width: 320px;
  padding: 2em;
  gap: 30px;
  box-sizing: border-box;
}

#photo {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
}
#photo > img {
  height: auto;
  width: 100%;
  position: relative;
  bottom: 25%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 30px;
  background-color: rgb(240, 240, 240);
  color: midnightblue;
  min-width: 320px;
  max-width: 600px;
  box-sizing: border-box;
}

#experience > h2 {
  border-bottom: 1px solid;
}
