#education {
  min-height: 200px;
}

#degrees {
  gap: 20px;
}
li h3,
li p {
  margin: 5px 0px;
}

form button {
  align-self: end;
  font-weight: 600;
  color: midnightblue;
  border-radius: 10px;
  height: 25px;
  width: 50px;
}
