#language {
  min-height: 200px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list li button {
  border-radius: 50%;
  color: midnightblue;
  font-weight: 600;
  padding: 2px 6px;
}
form.add {
  display: flex;
  flex-direction: column;
}
form.add button {
  align-self: end;
  font-weight: 600;
  color: midnightblue;
  border-radius: 10px;
  height: 25px;
  width: 50px;
}
