html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  transition: transform linear 0.5s;
}
button:hover,
button:focus {
  transform: scale(1.2);
}

@media print {
  button {
    display: none;
  }
}
